<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLangTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLangLabel_langId}" for="langId" />
                    <h:inputText id="langId" value="#{langController.selected.langId}" title="#{bundle.CreateLangTitle_langId}" required="true" requiredMessage="#{bundle.CreateLangRequiredMessage_langId}"/>
                    <h:outputLabel value="#{bundle.CreateLangLabel_code}" for="code" />
                    <h:inputText id="code" value="#{langController.selected.code}" title="#{bundle.CreateLangTitle_code}" required="true" requiredMessage="#{bundle.CreateLangRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.CreateLangLabel_supported}" for="supported" />
                    <h:inputText id="supported" value="#{langController.selected.supported}" title="#{bundle.CreateLangTitle_supported}" required="true" requiredMessage="#{bundle.CreateLangRequiredMessage_supported}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{langController.create}" value="#{bundle.CreateLangSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{langController.prepareList}" value="#{bundle.CreateLangShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLangIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
