<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/templates/masterLayout.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLangTitle}"/>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLangEmpty}" rendered="#{langController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{langController.items.rowCount > 0}">
                    <h:outputText value="#{langController.pagination.pageFirstItem + 1}..#{langController.pagination.pageLastItem + 1}/#{langController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{langController.previous}" value="#{bundle.Previous} #{langController.pagination.pageSize}" rendered="#{langController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{langController.next}" value="#{bundle.Next} #{langController.pagination.pageSize}" rendered="#{langController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{langController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLangTitle_langId}"/>
                            </f:facet>
                            <h:outputText value="#{item.langId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLangTitle_code}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLangTitle_supported}"/>
                            </f:facet>
                            <h:outputText value="#{item.supported}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{langController.prepareView}" value="#{bundle.ListLangViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{langController.prepareEdit}" value="#{bundle.ListLangEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{langController.destroy}" value="#{bundle.ListLangDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{langController.prepareCreate}" value="#{bundle.ListLangCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLangIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
