<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:composition template="/templates/masterLayout.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLangTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLangLabel_langId}"/>
                    <h:outputText value="#{langController.selected.langId}" title="#{bundle.ViewLangTitle_langId}"/>
                    <h:outputText value="#{bundle.ViewLangLabel_code}"/>
                    <h:outputText value="#{langController.selected.code}" title="#{bundle.ViewLangTitle_code}"/>
                    <h:outputText value="#{bundle.ViewLangLabel_supported}"/>
                    <h:outputText value="#{langController.selected.supported}" title="#{bundle.ViewLangTitle_supported}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{langController.destroyAndView}" value="#{bundle.ViewLangDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLangEditLink}"/>
                <br />
                <h:commandLink action="#{langController.prepareCreate}" value="#{bundle.ViewLangCreateLink}" />
                <br />
                <h:commandLink action="#{langController.prepareList}" value="#{bundle.ViewLangShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLangIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
