<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head><title>########</title></h:head>
<h:body>
    <ui:composition template="/templates/masterLayout.xhtml">
        <ui:define name="windowTitle">#{msgs['application.home.label']}</ui:define>
        <ui:define name="top">
            <ui:include src="/templates/composition/header.xhtml"/>
        </ui:define>
        <ui:define name="content">
            <div class="well span12">
                <h1>#{homeController.sayHello}</h1><br/>

                <p>Locale.language : #{homeController.localeLanguage}</p>

                <p>#{homeController.loremIpsum}</p>

                <br />
                <h:link outcome="/pages/property/list" value="Show All Property Items"/>
                <!--<br />-->
                <!--<h:link outcome="/content/browser/List" value="Show All Browser Items"/>-->
                <!--<br />-->
                <!--<h:link outcome="/content/httpHeader/List" value="Show All HttpHeader Items"/>-->
                <br />
                <h:link outcome="/pages/lang/list" value="Show All Lang Items"/>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>

