<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateHttpHeaderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_httpHeaderId}" for="httpHeaderId" />
                    <h:inputText id="httpHeaderId" value="#{httpHeaderController.selected.httpHeaderId}" title="#{bundle.CreateHttpHeaderTitle_httpHeaderId}" required="true" requiredMessage="#{bundle.CreateHttpHeaderRequiredMessage_httpHeaderId}"/>
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_accept}" for="accept" />
                    <h:inputTextarea rows="4" cols="30" id="accept" value="#{httpHeaderController.selected.accept}" title="#{bundle.CreateHttpHeaderTitle_accept}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_acceptCharset}" for="acceptCharset" />
                    <h:inputText id="acceptCharset" value="#{httpHeaderController.selected.acceptCharset}" title="#{bundle.CreateHttpHeaderTitle_acceptCharset}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_acceptEncoding}" for="acceptEncoding" />
                    <h:inputText id="acceptEncoding" value="#{httpHeaderController.selected.acceptEncoding}" title="#{bundle.CreateHttpHeaderTitle_acceptEncoding}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_acceptLanguage}" for="acceptLanguage" />
                    <h:inputText id="acceptLanguage" value="#{httpHeaderController.selected.acceptLanguage}" title="#{bundle.CreateHttpHeaderTitle_acceptLanguage}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_cacheControl}" for="cacheControl" />
                    <h:inputText id="cacheControl" value="#{httpHeaderController.selected.cacheControl}" title="#{bundle.CreateHttpHeaderTitle_cacheControl}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_connection}" for="connection" />
                    <h:inputText id="connection" value="#{httpHeaderController.selected.connection}" title="#{bundle.CreateHttpHeaderTitle_connection}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_cookie}" for="cookie" />
                    <h:inputTextarea rows="4" cols="30" id="cookie" value="#{httpHeaderController.selected.cookie}" title="#{bundle.CreateHttpHeaderTitle_cookie}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_headerDate}" for="headerDate" />
                    <h:inputText id="headerDate" value="#{httpHeaderController.selected.headerDate}" title="#{bundle.CreateHttpHeaderTitle_headerDate}" required="true" requiredMessage="#{bundle.CreateHttpHeaderRequiredMessage_headerDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_header}" for="header" />
                    <h:inputTextarea rows="4" cols="30" id="header" value="#{httpHeaderController.selected.header}" title="#{bundle.CreateHttpHeaderTitle_header}" required="true" requiredMessage="#{bundle.CreateHttpHeaderRequiredMessage_header}"/>
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_host}" for="host" />
                    <h:inputText id="host" value="#{httpHeaderController.selected.host}" title="#{bundle.CreateHttpHeaderTitle_host}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_ipv4address}" for="ipv4address" />
                    <h:inputText id="ipv4address" value="#{httpHeaderController.selected.ipv4address}" title="#{bundle.CreateHttpHeaderTitle_ipv4address}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_ipv6address}" for="ipv6address" />
                    <h:inputText id="ipv6address" value="#{httpHeaderController.selected.ipv6address}" title="#{bundle.CreateHttpHeaderTitle_ipv6address}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_isp}" for="isp" />
                    <h:inputText id="isp" value="#{httpHeaderController.selected.isp}" title="#{bundle.CreateHttpHeaderTitle_isp}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_keepAlive}" for="keepAlive" />
                    <h:inputText id="keepAlive" value="#{httpHeaderController.selected.keepAlive}" title="#{bundle.CreateHttpHeaderTitle_keepAlive}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_protocol}" for="protocol" />
                    <h:inputText id="protocol" value="#{httpHeaderController.selected.protocol}" title="#{bundle.CreateHttpHeaderTitle_protocol}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_referer}" for="referer" />
                    <h:inputText id="referer" value="#{httpHeaderController.selected.referer}" title="#{bundle.CreateHttpHeaderTitle_referer}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_uri}" for="uri" />
                    <h:inputText id="uri" value="#{httpHeaderController.selected.uri}" title="#{bundle.CreateHttpHeaderTitle_uri}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_userAgent}" for="userAgent" />
                    <h:inputTextarea rows="4" cols="30" id="userAgent" value="#{httpHeaderController.selected.userAgent}" title="#{bundle.CreateHttpHeaderTitle_userAgent}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_version}" for="version" />
                    <h:inputText id="version" value="#{httpHeaderController.selected.version}" title="#{bundle.CreateHttpHeaderTitle_version}" />
                    <h:outputLabel value="#{bundle.CreateHttpHeaderLabel_browserId}" for="browserId" />
                    <h:selectOneMenu id="browserId" value="#{httpHeaderController.selected.browserId}" title="#{bundle.CreateHttpHeaderTitle_browserId}" >
                        <f:selectItems value="#{browserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{httpHeaderController.create}" value="#{bundle.CreateHttpHeaderSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{httpHeaderController.prepareList}" value="#{bundle.CreateHttpHeaderShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateHttpHeaderIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
