<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditHttpHeaderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_httpHeaderId}" for="httpHeaderId" />
                    <h:inputText id="httpHeaderId" value="#{httpHeaderController.selected.httpHeaderId}" title="#{bundle.EditHttpHeaderTitle_httpHeaderId}" required="true" requiredMessage="#{bundle.EditHttpHeaderRequiredMessage_httpHeaderId}"/>
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_accept}" for="accept" />
                    <h:inputTextarea rows="4" cols="30" id="accept" value="#{httpHeaderController.selected.accept}" title="#{bundle.EditHttpHeaderTitle_accept}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_acceptCharset}" for="acceptCharset" />
                    <h:inputText id="acceptCharset" value="#{httpHeaderController.selected.acceptCharset}" title="#{bundle.EditHttpHeaderTitle_acceptCharset}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_acceptEncoding}" for="acceptEncoding" />
                    <h:inputText id="acceptEncoding" value="#{httpHeaderController.selected.acceptEncoding}" title="#{bundle.EditHttpHeaderTitle_acceptEncoding}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_acceptLanguage}" for="acceptLanguage" />
                    <h:inputText id="acceptLanguage" value="#{httpHeaderController.selected.acceptLanguage}" title="#{bundle.EditHttpHeaderTitle_acceptLanguage}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_cacheControl}" for="cacheControl" />
                    <h:inputText id="cacheControl" value="#{httpHeaderController.selected.cacheControl}" title="#{bundle.EditHttpHeaderTitle_cacheControl}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_connection}" for="connection" />
                    <h:inputText id="connection" value="#{httpHeaderController.selected.connection}" title="#{bundle.EditHttpHeaderTitle_connection}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_cookie}" for="cookie" />
                    <h:inputTextarea rows="4" cols="30" id="cookie" value="#{httpHeaderController.selected.cookie}" title="#{bundle.EditHttpHeaderTitle_cookie}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_headerDate}" for="headerDate" />
                    <h:inputText id="headerDate" value="#{httpHeaderController.selected.headerDate}" title="#{bundle.EditHttpHeaderTitle_headerDate}" required="true" requiredMessage="#{bundle.EditHttpHeaderRequiredMessage_headerDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_header}" for="header" />
                    <h:inputTextarea rows="4" cols="30" id="header" value="#{httpHeaderController.selected.header}" title="#{bundle.EditHttpHeaderTitle_header}" required="true" requiredMessage="#{bundle.EditHttpHeaderRequiredMessage_header}"/>
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_host}" for="host" />
                    <h:inputText id="host" value="#{httpHeaderController.selected.host}" title="#{bundle.EditHttpHeaderTitle_host}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_ipv4address}" for="ipv4address" />
                    <h:inputText id="ipv4address" value="#{httpHeaderController.selected.ipv4address}" title="#{bundle.EditHttpHeaderTitle_ipv4address}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_ipv6address}" for="ipv6address" />
                    <h:inputText id="ipv6address" value="#{httpHeaderController.selected.ipv6address}" title="#{bundle.EditHttpHeaderTitle_ipv6address}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_isp}" for="isp" />
                    <h:inputText id="isp" value="#{httpHeaderController.selected.isp}" title="#{bundle.EditHttpHeaderTitle_isp}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_keepAlive}" for="keepAlive" />
                    <h:inputText id="keepAlive" value="#{httpHeaderController.selected.keepAlive}" title="#{bundle.EditHttpHeaderTitle_keepAlive}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_protocol}" for="protocol" />
                    <h:inputText id="protocol" value="#{httpHeaderController.selected.protocol}" title="#{bundle.EditHttpHeaderTitle_protocol}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_referer}" for="referer" />
                    <h:inputText id="referer" value="#{httpHeaderController.selected.referer}" title="#{bundle.EditHttpHeaderTitle_referer}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_uri}" for="uri" />
                    <h:inputText id="uri" value="#{httpHeaderController.selected.uri}" title="#{bundle.EditHttpHeaderTitle_uri}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_userAgent}" for="userAgent" />
                    <h:inputTextarea rows="4" cols="30" id="userAgent" value="#{httpHeaderController.selected.userAgent}" title="#{bundle.EditHttpHeaderTitle_userAgent}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_version}" for="version" />
                    <h:inputText id="version" value="#{httpHeaderController.selected.version}" title="#{bundle.EditHttpHeaderTitle_version}" />
                    <h:outputLabel value="#{bundle.EditHttpHeaderLabel_browserId}" for="browserId" />
                    <h:selectOneMenu id="browserId" value="#{httpHeaderController.selected.browserId}" title="#{bundle.EditHttpHeaderTitle_browserId}" >
                        <f:selectItems value="#{browserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{httpHeaderController.update}" value="#{bundle.EditHttpHeaderSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditHttpHeaderViewLink}"/>
                <br />
                <h:commandLink action="#{httpHeaderController.prepareList}" value="#{bundle.EditHttpHeaderShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditHttpHeaderIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
