<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListHttpHeaderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListHttpHeaderEmpty}" rendered="#{httpHeaderController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{httpHeaderController.items.rowCount > 0}">
                    <h:outputText value="#{httpHeaderController.pagination.pageFirstItem + 1}..#{httpHeaderController.pagination.pageLastItem + 1}/#{httpHeaderController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{httpHeaderController.previous}" value="#{bundle.Previous} #{httpHeaderController.pagination.pageSize}" rendered="#{httpHeaderController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{httpHeaderController.next}" value="#{bundle.Next} #{httpHeaderController.pagination.pageSize}" rendered="#{httpHeaderController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{httpHeaderController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_httpHeaderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.httpHeaderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_accept}"/>
                            </f:facet>
                            <h:outputText value="#{item.accept}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_acceptCharset}"/>
                            </f:facet>
                            <h:outputText value="#{item.acceptCharset}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_acceptEncoding}"/>
                            </f:facet>
                            <h:outputText value="#{item.acceptEncoding}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_acceptLanguage}"/>
                            </f:facet>
                            <h:outputText value="#{item.acceptLanguage}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_cacheControl}"/>
                            </f:facet>
                            <h:outputText value="#{item.cacheControl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_connection}"/>
                            </f:facet>
                            <h:outputText value="#{item.connection}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_cookie}"/>
                            </f:facet>
                            <h:outputText value="#{item.cookie}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_headerDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.headerDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_header}"/>
                            </f:facet>
                            <h:outputText value="#{item.header}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_host}"/>
                            </f:facet>
                            <h:outputText value="#{item.host}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_ipv4address}"/>
                            </f:facet>
                            <h:outputText value="#{item.ipv4address}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_ipv6address}"/>
                            </f:facet>
                            <h:outputText value="#{item.ipv6address}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_isp}"/>
                            </f:facet>
                            <h:outputText value="#{item.isp}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_keepAlive}"/>
                            </f:facet>
                            <h:outputText value="#{item.keepAlive}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_protocol}"/>
                            </f:facet>
                            <h:outputText value="#{item.protocol}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_referer}"/>
                            </f:facet>
                            <h:outputText value="#{item.referer}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_uri}"/>
                            </f:facet>
                            <h:outputText value="#{item.uri}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_userAgent}"/>
                            </f:facet>
                            <h:outputText value="#{item.userAgent}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_version}"/>
                            </f:facet>
                            <h:outputText value="#{item.version}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHttpHeaderTitle_browserId}"/>
                            </f:facet>
                            <h:outputText value="#{item.browserId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{httpHeaderController.prepareView}" value="#{bundle.ListHttpHeaderViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{httpHeaderController.prepareEdit}" value="#{bundle.ListHttpHeaderEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{httpHeaderController.destroy}" value="#{bundle.ListHttpHeaderDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{httpHeaderController.prepareCreate}" value="#{bundle.ListHttpHeaderCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListHttpHeaderIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
