<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewHttpHeaderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_httpHeaderId}"/>
                    <h:outputText value="#{httpHeaderController.selected.httpHeaderId}" title="#{bundle.ViewHttpHeaderTitle_httpHeaderId}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_accept}"/>
                    <h:outputText value="#{httpHeaderController.selected.accept}" title="#{bundle.ViewHttpHeaderTitle_accept}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_acceptCharset}"/>
                    <h:outputText value="#{httpHeaderController.selected.acceptCharset}" title="#{bundle.ViewHttpHeaderTitle_acceptCharset}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_acceptEncoding}"/>
                    <h:outputText value="#{httpHeaderController.selected.acceptEncoding}" title="#{bundle.ViewHttpHeaderTitle_acceptEncoding}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_acceptLanguage}"/>
                    <h:outputText value="#{httpHeaderController.selected.acceptLanguage}" title="#{bundle.ViewHttpHeaderTitle_acceptLanguage}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_cacheControl}"/>
                    <h:outputText value="#{httpHeaderController.selected.cacheControl}" title="#{bundle.ViewHttpHeaderTitle_cacheControl}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_connection}"/>
                    <h:outputText value="#{httpHeaderController.selected.connection}" title="#{bundle.ViewHttpHeaderTitle_connection}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_cookie}"/>
                    <h:outputText value="#{httpHeaderController.selected.cookie}" title="#{bundle.ViewHttpHeaderTitle_cookie}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_headerDate}"/>
                    <h:outputText value="#{httpHeaderController.selected.headerDate}" title="#{bundle.ViewHttpHeaderTitle_headerDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_header}"/>
                    <h:outputText value="#{httpHeaderController.selected.header}" title="#{bundle.ViewHttpHeaderTitle_header}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_host}"/>
                    <h:outputText value="#{httpHeaderController.selected.host}" title="#{bundle.ViewHttpHeaderTitle_host}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_ipv4address}"/>
                    <h:outputText value="#{httpHeaderController.selected.ipv4address}" title="#{bundle.ViewHttpHeaderTitle_ipv4address}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_ipv6address}"/>
                    <h:outputText value="#{httpHeaderController.selected.ipv6address}" title="#{bundle.ViewHttpHeaderTitle_ipv6address}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_isp}"/>
                    <h:outputText value="#{httpHeaderController.selected.isp}" title="#{bundle.ViewHttpHeaderTitle_isp}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_keepAlive}"/>
                    <h:outputText value="#{httpHeaderController.selected.keepAlive}" title="#{bundle.ViewHttpHeaderTitle_keepAlive}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_protocol}"/>
                    <h:outputText value="#{httpHeaderController.selected.protocol}" title="#{bundle.ViewHttpHeaderTitle_protocol}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_referer}"/>
                    <h:outputText value="#{httpHeaderController.selected.referer}" title="#{bundle.ViewHttpHeaderTitle_referer}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_uri}"/>
                    <h:outputText value="#{httpHeaderController.selected.uri}" title="#{bundle.ViewHttpHeaderTitle_uri}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_userAgent}"/>
                    <h:outputText value="#{httpHeaderController.selected.userAgent}" title="#{bundle.ViewHttpHeaderTitle_userAgent}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_version}"/>
                    <h:outputText value="#{httpHeaderController.selected.version}" title="#{bundle.ViewHttpHeaderTitle_version}"/>
                    <h:outputText value="#{bundle.ViewHttpHeaderLabel_browserId}"/>
                    <h:outputText value="#{httpHeaderController.selected.browserId}" title="#{bundle.ViewHttpHeaderTitle_browserId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{httpHeaderController.destroyAndView}" value="#{bundle.ViewHttpHeaderDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewHttpHeaderEditLink}"/>
                <br />
                <h:commandLink action="#{httpHeaderController.prepareCreate}" value="#{bundle.ViewHttpHeaderCreateLink}" />
                <br />
                <h:commandLink action="#{httpHeaderController.prepareList}" value="#{bundle.ViewHttpHeaderShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewHttpHeaderIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
