<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <div class="well container-fluid">
                <!--<ul class="nav nav-pills">-->
                    <!--<li><a href="home">#{msgs['application.home.label']}</a></li>-->
                    <!--<li><a href="about">#{msgs['application.about.label']}</a></li>-->
                    <!--<li><a href="donate">#{msgs['application.donate.label']}</a></li>-->
                    <!--<li><a href="contact">#{msgs['application.contact.label']}</a></li>-->
                <!--</ul>-->
            </div>
        </ui:composition>
    </h:body>
</html>

