<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

    <ui:composition>
        <div class="container-fluid">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand">#{msgs['application.brand.label']}</a>
                        <!--<ul class="nav nav-pills pull-right">-->
                            <!--<li class="active"><a href="about">#{msgs['application.about.label']}</a></li>-->
                            <!--<li class="active"><a href="donate">#{msgs['application.donate.label']}</a></li>-->
                            <!--<li class="active"><a href="contact">#{msgs['application.contact.label']}</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>

                <!--<div id="user_bar">-->
                    <!--<c:set var="username" value="#{userSecurityContextService.currentUsername}"/>-->
                    <!--<c:set var="here" value="#{facesContext.externalContext.request.requestURL}"/>-->
                    <!--<c:if test="${empty username or username eq 'anonymousUser'}">-->
                        <!--<div class="pull-right">-->
                            <!--<h:outputLink value="authenticate">-->
                                <!--<span style="text-decoration: underline;">-->
                                    <!--<h:outputText value="#{msgs['authentication.link']}"/>-->
                                <!--</span>-->
                                <!--<f:param name="from" value="#{here}"/>-->
                            <!--</h:outputLink>-->
                            <!--&nbsp;|&nbsp;-->
                            <!--<h:outputLink value="register">-->
                                <!--<u>-->
                                    <!--<h:outputText value="#{msgs['register.label']}"/>-->
                                <!--</u>-->
                                <!--<f:param name="from" value="#{here}"/>-->
                            <!--</h:outputLink>-->
                        <!--</div>-->
                    <!--</c:if>-->
                    <!--<c:if test="${not empty username and username ne 'anonymousUser'}">-->
                        <!--<div class="pull-right">-->
                            <!--<c:if test="#{userSecurityContextService.isCurrentUserCanSwitchAuthority}">-->
                                <!--<h:outputLink value="switchRole">-->
                                    <!--<span style="text-decoration: underline;">-->
                                        <!--<h:outputText value="#{msgs['switch.role.label']}"/>-->
                                    <!--</span>-->
                                    <!--<f:param name="from" value="#{here}"/>-->
                                <!--</h:outputLink>-->
                                <!--&nbsp;|&nbsp;-->
                            <!--</c:if>-->
                            <!--<span style="text-decoration: underline;">-->
                                <!--<h:link value="#{msgs['authentication.logout.label']}" outcome="logout"/>-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--<div class="pull-left">-->
                            <!--<span style="font-style:italic;font-weight:bold;">#{username}</span>-->
                            <!--&nbsp;|&nbsp;-->
                            <!--<h:outputLink value="profile">-->
                                <!--<span style="text-decoration: underline;">-->
                                    <!--<h:outputText value="#{msgs['user.profile.label']}"/>-->
                                <!--</span>-->
                                <!--<f:param name="from" value="#{here}"/>-->
                            <!--</h:outputLink>-->
                            <!--&nbsp;|&nbsp;-->
                            <!--<h:outputLink value="profile">-->
                                <!--<span style="text-decoration: underline;">-->
                                    <!--<h:outputText value="activity"/>-->
                                <!--</span>-->
                                <!--<f:param name="from" value="#{here}"/>-->
                            <!--</h:outputLink>-->
                            <!--&nbsp;|&nbsp;-->
                            <!--<h:outputLink value="profile">-->
                                <!--<span style="text-decoration: underline;">-->
                                    <!--<h:outputText value="back-office"/>-->
                                <!--</span>-->
                                <!--<f:param name="from" value="#{here}"/>-->
                            <!--</h:outputLink>-->
                            <!--&nbsp;|&nbsp;-->
                            <!--<h:outputLink value="profile">-->
                                <!--<span style="text-decoration: underline;">-->
                                    <!--<h:outputText value="cart"/>-->
                                <!--</span>-->
                                <!--<f:param name="from" value="#{here}"/>-->
                            <!--</h:outputLink>-->
                        <!--</div>-->
                    <!--</c:if>-->
                <!--</div>-->
                <!---->
                <!--<br/>-->
                <!--                <div id="content_bar">
                                    <h:form>
                                        <div id="main_content_bar">
                                            <p:megaMenu autoDisplay="false">
                                                <p:submenu label="TV" icon="ui-icon-check">
                                                    <p:column>
                                                        <p:submenu label="TV.1">
                                                            <p:menuitem value="TV.1.1" url="#" />
                                                            <p:menuitem value="TV.1.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="TV.2">
                                                            <p:menuitem value="TV.2.1" url="#" />
                                                            <p:menuitem value="TV.2.2" url="#" />
                                                            <p:menuitem value="TV.2.3" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="TV.3">
                                                            <p:menuitem value="TV.3.1" url="#" />
                                                            <p:menuitem value="TV.3.2" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                
                                                    <p:column>
                                                        <p:submenu label="TV.4">
                                                            <p:menuitem value="TV.4.1" url="#" />
                                                            <p:menuitem value="TV.4.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="TV.5">
                                                            <p:menuitem value="TV.5.1" url="#" />
                                                            <p:menuitem value="TV.5.2" url="#" />
                                                            <p:menuitem value="TV.5.3" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                
                                                    <p:column>
                                                        <strong>Sopranos</strong>
                                                        <p:graphicImage value="/images/sopranos/sopranos1.jpg" width="200"/>
                                                    </p:column>
                                                </p:submenu>
                
                                                <p:submenu label="Sports" icon="ui-icon-document">
                
                                                    <p:column>
                                                        <p:submenu label="Sports.1">
                                                            <p:menuitem value="Sports.1.1" url="#" />
                                                            <p:menuitem value="Sports.1.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Sports.2">
                                                            <p:menuitem value="Sports.2.1" url="#" />
                                                            <p:menuitem value="Sports.2.2" url="#" />
                                                            <p:menuitem value="Sports.2.3" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Sports.3">
                                                            <p:menuitem value="Sports.3.1" url="#" />
                                                            <p:menuitem value="Sports.3.2" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                
                                                    <p:column>
                                                        <p:submenu label="Sports.4">
                                                            <p:menuitem value="Sports.4.1" url="#" />
                                                            <p:menuitem value="Sports.4.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Sports.5">
                                                            <p:menuitem value="Sports.5.1" url="#" />
                                                            <p:menuitem value="Sports.5.2" url="#" />
                                                            <p:menuitem value="Sports.5.3" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                                                    <p:column>
                                                        <p:submenu label="Sports.7">
                                                            <p:menuitem value="Sports.7.1" url="#" />
                                                            <p:menuitem value="Sports.7.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Sports.8">
                                                            <p:menuitem value="Sports.8.1" url="#" />
                                                            <p:menuitem value="Sports.8.2" url="#" />
                                                            <p:menuitem value="Sports.8.3" url="#" />
                                                            <p:menuitem value="Sports.8.4" url="#" />
                                                            <p:menuitem value="Sports.8.5" url="#" />
                                                            <p:menuitem value="Sports.8.6" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                                                </p:submenu>
                
                                                <p:submenu label="Entertainment" icon="ui-icon-pencil">
                                                    <p:column>
                                                        <p:submenu label="Entertainment.1">
                                                            <p:menuitem value="Entertainment.1.1" url="#" />
                                                            <p:menuitem value="Entertainment.1.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Entertainment.2">
                                                            <p:menuitem value="Entertainment.2.1" url="#" />
                                                            <p:menuitem value="Entertainment.2.2" url="#" />
                                                            <p:menuitem value="Entertainment.2.3" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Entertainment.3">
                                                            <p:menuitem value="Entertainment.3.1" url="#" />
                                                            <p:menuitem value="Entertainment.3.2" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                
                                                    <p:column>
                                                        <p:submenu label="Entertainment.4" icon="ui-icon-help">
                                                            <p:menuitem value="Entertainment.4.1" url="#" />
                                                            <p:menuitem value="Entertainment.4.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Entertainment.5">
                                                            <p:menuitem value="Entertainment.5.1" url="#" />
                                                            <p:menuitem value="Entertainment.5.2" url="#" />
                                                            <p:menuitem value="Entertainment.5.3" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Entertainment.6">
                                                            <p:menuitem value="Entertainment.6.1" url="#" />
                                                            <p:menuitem value="Entertainment.6.2" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                                                </p:submenu>
                
                
                                                <p:submenu label="Tech" icon="ui-icon-contact">
                                                    <p:column>
                                                        <p:submenu label="Tech.1">
                                                            <p:menuitem value="Tech.1.1" url="#" />
                                                            <p:menuitem value="Tech.1.2" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Tech.2">
                                                            <p:menuitem value="Tech.2.1" url="#" />
                                                            <p:menuitem value="Tech.2.2" url="#" />
                                                            <p:menuitem value="Tech.2.3" url="#" />
                                                        </p:submenu>
                                                        <p:submenu label="Tech.3">
                                                            <p:menuitem value="Tech.3.1" url="#" />
                                                            <p:menuitem value="Tech.3.2" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                
                                                    <p:column>
                                                        <p:submenu label="Tech.4">
                                                            <p:menuitem value="Tech.4.1" url="#" />
                                                            <p:menuitem value="Tech.4.2" url="#" />
                                                        </p:submenu>
                                                    </p:column>
                                                </p:submenu>
                
                                                <p:menuitem value="Quit" url="home" icon="ui-icon-close" />
                                            </p:megaMenu>
                                        </div>
                                        <div id="content_hierarchy_bar">
                                            <p:breadCrumb>
                                                <p:menuitem value="Categories" url="#" />
                                                <p:menuitem value="Sports" url="#" />
                                                <p:menuitem value="Football" url="#" />
                                                <p:menuitem value="Countries" url="#" />
                                                <p:menuitem value="Spain" url="#" />
                                                <p:menuitem value="F.C. Barcelona" url="#" />
                                                <p:menuitem value="Squad" url="#" />
                                                <p:menuitem value="Lionel Messi" url="#" />
                                            </p:breadCrumb>
                                        </div>
                                    </h:form>
                                </div>-->
            </div>
        </div>
    </ui:composition>
</html>