<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBrowserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBrowserLabel_browserId}" for="browserId" />
                    <h:inputText id="browserId" value="#{browserController.selected.browserId}" title="#{bundle.CreateBrowserTitle_browserId}" required="true" requiredMessage="#{bundle.CreateBrowserRequiredMessage_browserId}"/>
                    <h:outputLabel value="#{bundle.CreateBrowserLabel_name}" for="name" />
                    <h:inputText id="name" value="#{browserController.selected.name}" title="#{bundle.CreateBrowserTitle_name}" required="true" requiredMessage="#{bundle.CreateBrowserRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateBrowserLabel_os}" for="os" />
                    <h:inputText id="os" value="#{browserController.selected.os}" title="#{bundle.CreateBrowserTitle_os}" required="true" requiredMessage="#{bundle.CreateBrowserRequiredMessage_os}"/>
                    <h:outputLabel value="#{bundle.CreateBrowserLabel_version}" for="version" />
                    <h:inputText id="version" value="#{browserController.selected.version}" title="#{bundle.CreateBrowserTitle_version}" required="true" requiredMessage="#{bundle.CreateBrowserRequiredMessage_version}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{browserController.create}" value="#{bundle.CreateBrowserSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{browserController.prepareList}" value="#{bundle.CreateBrowserShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateBrowserIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
