<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListBrowserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListBrowserEmpty}" rendered="#{browserController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{browserController.items.rowCount > 0}">
                    <h:outputText value="#{browserController.pagination.pageFirstItem + 1}..#{browserController.pagination.pageLastItem + 1}/#{browserController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{browserController.previous}" value="#{bundle.Previous} #{browserController.pagination.pageSize}" rendered="#{browserController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{browserController.next}" value="#{bundle.Next} #{browserController.pagination.pageSize}" rendered="#{browserController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{browserController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBrowserTitle_browserId}"/>
                            </f:facet>
                            <h:outputText value="#{item.browserId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBrowserTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBrowserTitle_os}"/>
                            </f:facet>
                            <h:outputText value="#{item.os}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBrowserTitle_version}"/>
                            </f:facet>
                            <h:outputText value="#{item.version}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{browserController.prepareView}" value="#{bundle.ListBrowserViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{browserController.prepareEdit}" value="#{bundle.ListBrowserEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{browserController.destroy}" value="#{bundle.ListBrowserDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{browserController.prepareCreate}" value="#{bundle.ListBrowserCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListBrowserIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
