<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBrowserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBrowserLabel_browserId}"/>
                    <h:outputText value="#{browserController.selected.browserId}" title="#{bundle.ViewBrowserTitle_browserId}"/>
                    <h:outputText value="#{bundle.ViewBrowserLabel_name}"/>
                    <h:outputText value="#{browserController.selected.name}" title="#{bundle.ViewBrowserTitle_name}"/>
                    <h:outputText value="#{bundle.ViewBrowserLabel_os}"/>
                    <h:outputText value="#{browserController.selected.os}" title="#{bundle.ViewBrowserTitle_os}"/>
                    <h:outputText value="#{bundle.ViewBrowserLabel_version}"/>
                    <h:outputText value="#{browserController.selected.version}" title="#{bundle.ViewBrowserTitle_version}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{browserController.destroyAndView}" value="#{bundle.ViewBrowserDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBrowserEditLink}"/>
                <br />
                <h:commandLink action="#{browserController.prepareCreate}" value="#{bundle.ViewBrowserCreateLink}" />
                <br />
                <h:commandLink action="#{browserController.prepareList}" value="#{bundle.ViewBrowserShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBrowserIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
