<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <h:outputScript library="webjars/jquery/1.9.0" name="jquery.js" target="head"/>
    <h:outputScript library="webjars/bootstrap/3.0.0/js" name="bootstrap.js" target="head"/>
    <h:outputStylesheet library="webjars/bootstrap/3.0.0/css" name="bootstrap.css"/>
    <h:outputStylesheet library="webjars/bootstrap/3.0.0/css" name="bootstrap-theme.css"/>

    <style type="text/css">
        /* Sticky footer styles
        -------------------------------------------------- */
        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by it's height */
            margin: 0 auto -60px;
        }

        /* Set the fixed height of the footer here */
        #push,
        #footer {
            height: 60px;
        }

        #footer {
            background-color: #f5f5f5;
        }

        /* Lastly, apply responsive CSS fixes as necessary */
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */
        .container {
            width: auto;
            max-width: 680px;
        }

        .container .credit {
            margin: 20px 0;
        }
    </style>


    <title>
        <ui:insert name="windowTitle"/>
    </title>
</h:head>
<h:body>
    <ui:debug/>

    <div id="wrap">
        <ui:insert name="top">
            <ui:include src="/templates/composition/header.xhtml"/>
        </ui:insert>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ui:insert name="content"/>
                </div>
            </div>
        </div>
        <div id="push"/>
    </div>
    <div id="footer">
        <div class="container-fluid">
            <ui:insert name="bottom">
                <ui:include src="/templates/composition/footer.xhtml"/>
            </ui:insert>
        </div>
    </div>
</h:body>
</html>