<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPropertyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPropertyLabel_propertyId}" for="propertyId" />
                    <h:inputText id="propertyId" value="#{propertyController.selected.propertyId}" title="#{bundle.EditPropertyTitle_propertyId}" required="true" requiredMessage="#{bundle.EditPropertyRequiredMessage_propertyId}"/>
                    <h:outputLabel value="#{bundle.EditPropertyLabel_propertyKey}" for="propertyKey" />
                    <h:inputText id="propertyKey" value="#{propertyController.selected.propertyKey}" title="#{bundle.EditPropertyTitle_propertyKey}" required="true" requiredMessage="#{bundle.EditPropertyRequiredMessage_propertyKey}"/>
                    <h:outputLabel value="#{bundle.EditPropertyLabel_propertyValue}" for="propertyValue" />
                    <h:inputText id="propertyValue" value="#{propertyController.selected.propertyValue}" title="#{bundle.EditPropertyTitle_propertyValue}" required="true" requiredMessage="#{bundle.EditPropertyRequiredMessage_propertyValue}"/>
                    <h:outputLabel value="#{bundle.EditPropertyLabel_version}" for="version" />
                    <h:inputText id="version" value="#{propertyController.selected.version}" title="#{bundle.EditPropertyTitle_version}" />
                </h:panelGrid>
                <h:commandLink action="#{propertyController.update}" value="#{bundle.EditPropertySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPropertyViewLink}"/>
                <br />
                <h:commandLink action="#{propertyController.prepareList}" value="#{bundle.EditPropertyShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPropertyIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
