<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/templates/masterLayout.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPropertyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPropertyEmpty}" rendered="#{propertyController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{propertyController.items.rowCount > 0}">
                    <h:outputText value="#{propertyController.pagination.pageFirstItem + 1}..#{propertyController.pagination.pageLastItem + 1}/#{propertyController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{propertyController.previous}" value="#{bundle.Previous} #{propertyController.pagination.pageSize}" rendered="#{propertyController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{propertyController.next}" value="#{bundle.Next} #{propertyController.pagination.pageSize}" rendered="#{propertyController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{propertyController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropertyTitle_propertyId}"/>
                            </f:facet>
                            <h:outputText value="#{item.propertyId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropertyTitle_propertyKey}"/>
                            </f:facet>
                            <h:outputText value="#{item.propertyKey}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropertyTitle_propertyValue}"/>
                            </f:facet>
                            <h:outputText value="#{item.propertyValue}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropertyTitle_version}"/>
                            </f:facet>
                            <h:outputText value="#{item.version}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{propertyController.prepareView}" value="#{bundle.ListPropertyViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{propertyController.prepareEdit}" value="#{bundle.ListPropertyEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{propertyController.destroy}" value="#{bundle.ListPropertyDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{propertyController.prepareCreate}" value="#{bundle.ListPropertyCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPropertyIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
