<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPropertyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPropertyLabel_propertyId}"/>
                    <h:outputText value="#{propertyController.selected.propertyId}" title="#{bundle.ViewPropertyTitle_propertyId}"/>
                    <h:outputText value="#{bundle.ViewPropertyLabel_propertyKey}"/>
                    <h:outputText value="#{propertyController.selected.propertyKey}" title="#{bundle.ViewPropertyTitle_propertyKey}"/>
                    <h:outputText value="#{bundle.ViewPropertyLabel_propertyValue}"/>
                    <h:outputText value="#{propertyController.selected.propertyValue}" title="#{bundle.ViewPropertyTitle_propertyValue}"/>
                    <h:outputText value="#{bundle.ViewPropertyLabel_version}"/>
                    <h:outputText value="#{propertyController.selected.version}" title="#{bundle.ViewPropertyTitle_version}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{propertyController.destroyAndView}" value="#{bundle.ViewPropertyDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPropertyEditLink}"/>
                <br />
                <h:commandLink action="#{propertyController.prepareCreate}" value="#{bundle.ViewPropertyCreateLink}" />
                <br />
                <h:commandLink action="#{propertyController.prepareList}" value="#{bundle.ViewPropertyShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPropertyIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
